/*
* QSS Qt Stylesheets Collection.
* Created in 2013 by Khromathyon Software.
* QSS Theme: Visual Studio(R) 2012 Dark Theme.
* License: WTFPL
*/
QMainWindow {
  background-color: #2d2d30;
  color: #f1f1f1;
}

QDialog {
    background:#2d2d30;
    color:#f1f1f1;
}

QMenuBar {
  background-color:#2d2d30;
  text-transform: uppercase;
  color:#f1f1f1;
}

QMenuBar::item:selected{
  background-color:#3e3e40;
}

QMenu {
  border:0.5px solid #333337;
  color:#f1f1f1;
}

QMenu::item:selected {
  background-color:#2d2d30;
  border-color:#333337;
}

QMenu::item {
  background-color:#1b1b1c;
  border-color:#333337;
  padding: 2px 25px 2px 20px;
}

QMenu::separator{
  background-color:#333337;
  spacing:2px;
}

QTabBar::tab {
  background-color:#2d2d30;
  border: 1px solid transparent;
  color:#f1f1f1;
  padding:5px;
}

QTabBar::tab:hover{
  background-color:#1c97ea;
}

QTabBar::tab:selected{
  background-color:#007acc;
}

QTabWidget::pane {
  border-top: 2px solid #007acc;
  background-color:#2d2d30;
}

QTableWidget {
	alternate-background-color: #323233;
}

/* header row */
QCalendarWidget QWidget {
    alternate-background-color: rgb(128, 128, 128);
}

QDockWidget {
    background: #2d2d30;
    color:#f1f1f1;
}

QDockWidget::active {
  border: 1px solid #007acc;
}

QDockWidget::title {
  color:#f1f1f1;
  background:#007acc;
}

QComboBox {
  background-color:#333337;
  color:#b2b2b2;
  border-style:none;
}

QComboBox:on {
  background-color:#3f3f46;
}

QComboBox:down-arrow {
    image: url(:/icons/down_arrow.png);
}

QComboBox:drop-down {
  border-style:none;
}

/*Needs fix*/
QScrollBar{
  background:#3e3e42;
  border-style:none;
}

QScrollbar::horizontal{
     height: 15px;
     margin: 0px 20px 0 20px;
}

QScrollBar:handle {
  border-style:none;
  background:#9d9d9d;
  margin: inherited;
}

QPushButton {
  border-style:none;
  border-bottom:1px solid #007acc;
  color:#f1f1f1;
  background:#3e3e42;
  padding:5px;
}

QPushButton::pressed {
  border: 1px solid #007acc;
  background:#3e3e42;
}

QToolButton {
  border-style:none;
  background:#2d2d30;
  color:#f1f1f1;
}

QToolButton:pressed {
  border: 1px solid #007acc;
  background:#3e3e42;
}

QDoubleSpinBox, QSpinBox, QTimeEdit, QNumberSpinBox,
QListBox, QDateEdit, QDateTime, QDateTimeEdit, QComboBox, QLineEdit {
    padding: 2px;
    border-width: 1px;
    border-color: black;
    background-color:#3f3f46;    
}

QDoubleSpinBox::up-button, QSpinBox::up-button {
     image: url(:/icons/up_arrow.png);
}

QDoubleSpinBox::down-button, QSpinBox::down-button {
     image: url(:/icons/down_arrow.png);
}

QLabel {
  color:#f1f1f1;
}

QLineEdit:selected {
  border-color:#007acc;
}

QToolBar {
  background:#2d2d30;
  border-style:none;
}

QToolBox{
  background:#2d2d30;
}

QToolBox::tab{
  background:#2d2d30;
  color:#f1f1f1;
  border-style:none;
  border-bottom-style: solid;
  border-bottom: 2px solid #007acc;
}

QToolBox::tab:selected {
  border:1px solid #007acc;
}

QWidget{
  background:#2d2d30;
  color:#f1f1f1;
}

QTreeView {
  background-color:#2d2d30;
  border-style:none;
}

QTreeView::item:selected
{
  background:#007acc;
}

QTreeView::item:selected!active {
  background: #3f3f46;
}

QTreeView::item:selected {
  background: #3f3f46;
}

QListView {
  background-color:#252526;
  border-style:none;
}
