/*
* Code adapted from: https://github.com/alexpana/qt-creator-wombat-theme
*/
QToolTip
{
    border: 1px solid #222;
    background-color: #333;
    color: #aaa;
}

QWidget
{
    color: #aaa;
    background-color: #323232;
}

QWidget:item:hover
{
    background-color: #507098;
    color: #aaa;
}

QWidget:item:selected
{
    background-color: #507098;
}

QWidget:disabled {
    color: gray;
}

QMenuBar {
    background-color: #323232;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    /*
    background: transparent;
    border: 1px solid #ffaa00;
    */
    background: #444;
}

QMenuBar::item:pressed
{
    border: 1px solid #000;
    background-color: #444;
    margin-bottom:-1px;
    padding-bottom:1px;
}

/* ==================================================================================== */
/* MENU                                                                                 */
/* ==================================================================================== */

QMenu
{
    color: #A9A9A9;
    background-color: #222;
    border: 1px solid #222;
    padding: 4px;
    padding-right: 0px;
}

QMenu::item
{
    background: transparent;
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    background-color: #507098;
    color: #A9A9A9;
}

QAbstractItemView
{
    color: #A9A9A9;
    background-color: #222;
}

QLineEdit, QPushButton, QDateEdit, QDoubleSpinBox, QSpinBox
{
    color: #A9A9A9;
    background-color: #222;
    padding: 1px;
    border: 1px solid #111;
    border-width: 1px;
    border-color: #1e1e1e;
    border-style: solid;
}

QDoubleSpinBox::up-button, QSpinBox::up-button {
     image: url(:/icons/up_arrow.png);
}

QDoubleSpinBox::down-button, QSpinBox::down-button {
     image: url(:/icons/down_arrow.png);
}

/* ==================================================================================== */
/* COMBOBOX                                                                            */
/* ==================================================================================== */

QComboBox {
    selection-background-color: #ffaa00;
    background-color: #222;
    border-style: solid;
    border: 1px solid #1e1e1e;
}

QComboBox:on {
    padding-top: 1px;
    padding-left: 3px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, 
        stop: 0     #555, 
        stop: 0.1   #4C4C4C, 
        stop: 0.5   #464646, 
        stop: 0.9   #414141, 
        stop: 1     #444);
    selection-background-color: #ffaa00;
}

QComboBox QAbstractItemView {
    border: 1px solid #222;
    selection-background-color: #507098;
}

QDateEdit::drop-down, QComboBox::drop-down {
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;
     border: 0px;
 }

QDateEdit::down-arrow, QComboBox::down-arrow
{
    image: url(:/icons/down_arrow.png);
}

QTextEdit:focus
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}

/* ==================================================================================== */
/* SCROLL BAR                                                                           */
/* ==================================================================================== */

QScrollBar:horizontal {
    background-color: #333;
    height: 8px;
    margin: 0px;
    padding: 0px;
}

QScrollBar::handle:horizontal {
    border: 1px solid #111;
    background: #535353;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    width: 0px;
    background: transparent;
}

QScrollBar:vertical {
    background-color: #333;
    width: 8px;
    margin: 0;
}

QScrollBar::handle:vertical {
    border: 1px solid #111;
    background: #535353;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, 
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    height: 0px;
    background: transparent;
}


QTextEdit
{
    background-color: #242424;
}

QPlainTextEdit
{
    background-color: #242424;
}

QHeaderView::section
{
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);*/
    color: #fff;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);*/
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #242424;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

QMainWindow::separator
{
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);*/
    color: #fff;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QMainWindow::separator:hover
{

    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #d7801a, stop:0.5 #b56c17 stop:1 #ffa02f);*/
    color: #fff;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar {
    background: red;
    border: 1px solid #323232;
}

QToolBar::handle
{
     spacing: 3px; /* spacing between items in the tool bar */
     background: url(:/images/handle.png);
}

QMenu::separator
{
    height: 2px;
    color: #fff;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QProgressBar
{
    border: 2px solid grey;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #d7801a;
    width: 2.15px;
    margin: 0.5px;
}

QTabBar::tab {
    color: #b1b1b1;
    border: 1px solid #444;
    border-bottom-style: none;
    background-color: #323232;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane {
    border: 1px solid #444;
    top: 1px;
}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:first:!selected
{
  margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:!selected
{
    color: #b1b1b1;
    border-bottom-style: solid;
    margin-top: 3px;
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:.4 #343434);*/
}

QTabBar::tab:selected
{
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    /*border-top: 2px solid #ffaa00;
    padding-bottom: 3px;*/
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:0.4 #343434, stop:0.2 #343434, stop:0.1 #ffaa00);*/
}

/* ==================================================================================== */
/* CHECKBOX                                                                             */
/* ==================================================================================== */

QCheckBox::indicator {
    color: #222;
}

QAbstractItemView::selected {
    border: 0px;
    outline: none;
}

/* ==================================================================================== */
/* TREE VIEW                                                                            */
/* ==================================================================================== */

QTreeView {
    background-color: #333;
}

QTreeView::item, QTreeView::branch {
    background: transparent;
    color: #DDD;
}

QTreeView::item:hover, QTreeView::branch:hover {
    background-color: #507098;
    color: #DDD;
}

QTreeView::item:selected, QTreeView::branch:selected {
    background-color: #507098;
    color: #DDD;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(:/icons/caret-right_ffffff_14.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
     border-image: none;
     image: url(:/icons/caret-down_ffffff_14.png);
}

/* ==================================================================================== */
/* TABLE VIEW                                                                           */
/* ==================================================================================== */

QHeaderView::section {
    background: transparent;
    background-color: #222;
    color: #777;
    border-right: 0px solid #777;
    border-top: 0px solid #777;
    padding: 0 0 2px 3px
}

/* header row */
QCalendarWidget QWidget {
    alternate-background-color: rgb(128, 128, 128);
}

QTableWidget {
    alternate-background-color: #323233;
}
